<template name='worldBoss'>
  <h4 class='header-center'>Welcome to the Arena</h4>
  <h5 class='header-center'>Ready to lose?</h5>
  <table class='table'>
    <thead>
      <tr>
        <th style='width: 30%'>Name</th>
        <th style='width: 20%'>Current HP</th>
        <th>Time</th>
        <th style='width: 30%'></th>
      </tr>
    </thead>
    <tbody>
      {{#each worldBosses}}
      <tr>
        <td>{{name}}</td>
        <td>{{currentHP}}</td>
        <td id="{{_id}}">{{#if loading}}{{>spinner}}{{/if}}</td>
        <td>
          <button class='btn btn-danger btn-challenge {{_id}}' disabled>Challenge!</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>


</template>

<template name="topDamageModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-primary">
          <h4 class="modal-title">{{bossName}} - TopDamage</h4>
        </div>

        <div class="modal-body">
          <p>{{errReason}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</template>
