<template name="layout">
  <div class="container">
    <h3 class='header-center'>GameDev (Alpha)</h3>
    <hr/>
    <div id="main" class="row-fluid">
      {{>yield}}
    </div>
  </div>

  <footer class='footer'>
    <div class='container'>
      <div class="row">
        <div class="col-sm-2">
          <img class="meteor-development-group" src="https://d14jjfgstdxsoz.cloudfront.net/meteor-development-group.png" alt="Meteor Development Group">
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2 projects-column">
          <h5>Projects</h5>

        </div>
        <div class="col-sm-2">
          <h5>Getting together</h5>

        </div>
        <div class="col-sm-2">
          <h5>About</h5>
          
        </div>
      </div>
    </div>
  </footer>
</template>
