<template name='equipmentandItems'>
  <h4 class='header-center'>Equipment and Items</h4>
  <h5 class='header-center'>I Heard Loot?</h5>

  <div class='row'>
    <div class='col-xs-4 col-md-4'>
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <h4 class='header-center'>Active Equipment</h4>
        </div>
        <div class='panel-body'>
          <div class='row'>
            {{#each activeEquipment}}
            <div class='col-xs-6 col-md-6'>
              <a href="#" class="thumbnail inventory equipToRemove">
                <img src="{{iconPath}}" title="{{name}} | {{description}}" class='inventoryItem'>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>

    </div>

    <div class='col-xs-6 col-md-6'>
      <div class='panel panel-warning'>
        <div class='panel-heading'>
          <h4 class='header-center'>Inventory : {{inventoryLength}}/16</h4>
        </div>
        <div class='panel-body'>
          <div class='row'>
            {{#each inventory}}
            <div class='col-xs-6 col-md-3'>
              <a href="#" class="thumbnail inventory useItem">
                <img src="{{iconPath}}" title="{{name}} {{description}}" class='inventoryItem'>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class='col-xs-2 col-md-2'>
      <button id='itemBtn' class='btn btn-primary btn-lg btn-block'>Use</button>
      <hr/>
      <button id="destroyBtn" class='btn btn-danger btn-lg btn-block' disabled>Destroy</button>
    </div>
  </div>

</template>
