<template name='login'>
  <div class='row' id='mainBckGrnd'>
    <div class='col-md-8'>
      {{> Welcome}}
    </div>
    <div class='col-md-4 col-padded'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <h5>Login</h5>
          <form id='loginForm'>
            <div class='form-group'>
              <div class='controls'>
                <input type='text' name="username" placeholder='Username' class='form-control'>
              </div>
            </div>
            <div class='form-group'>
              <div class='controls'>
                <input type='password' name="password" placeholder='Password' class='form-control'>
              </div>
            </div>
            <input type='submit' value='Login' class='btn btn-primary'>
          </form>
        </div>
      </div>
    </div>

    <div class='col-md-4 col-padded'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <form id='createAccountForm'>
            <h5>New to GameDev? Create a account</h5>
            <div class='form-group'>
              <div class='controls'>
                <input type='text' name="fullName" placeholder='Full Name' class='form-control'>
              </div>
            </div>
            <div class='form-group'>
              <div class='controls'>
                <input type='text' name="username" placeholder='Username' class='form-control'>
              </div>
            </div>
            <div class='form-group'>
              <div class='controls'>
                <input type='password' name="password" placeholder='Password' class='form-control'>
              </div>
            </div>
            <input type='submit' value='Create Account' class='btn btn-warning'>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="simpleModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-primary">
          <h4 class="modal-title">{{tittle}}</h4>
        </div>

        <div class="modal-body">
          <p>{{message}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</template>
